ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  cursor: pointer;
}

table {
  width: 100%;
}

button {
  width: 100px;
  border: 1px solid black;
  cursor: pointer;
}

.container {
  display: flex;
}

.email-container {
  display: flex;
  flex-direction: column;
}

.email-heading {
  margin-bottom: 0.5em;
}

.email-subject {
  color: grey;
}

.list {
  width: 25%;
}

.email {
  width: 75%;
}

.card {
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #e3e3e3;
  margin: 0.5em;
  padding: 0.5em;
}

.bold-text {
  font-weight: bold;
}

.right-text {
  float: right;
}
